@import "tailwindcss";

/* === Default (Light Theme) === */
:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
  --paragraph: #333333;
  --primary: #7d3fe0;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --gradient-bg: radial-gradient(
    circle at center,
    rgba(88, 28, 135, 0.5) 0%,
    rgba(255, 255, 255, 0.9) 70%
  );
}

.dark {
  color-scheme: dark;
}

/* === Dark Theme === */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --paragraph: #e0e0e0;
  --primary: #ae85ef;
  --gradient-bg: radial-gradient(
    circle at center,
    rgba(88, 28, 135, 0.5) 0%,
    rgba(0, 0, 0, 0.9) 70%
  );
}

@theme {
  --dark-mode-selector: ".dark";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-paragraph: var(--paragraph);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

/* === Fonts and Text === */
.text-sans {
  font-family: "BBH Sans Hegarty", sans-serif;
}

.text-sans .span {
  color: var(--primary);
}

/* === Global Styles === */
html,
body {
  scrollbar-width: none;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  cursor: none;
}

/* Hide scrollbars */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mouse {
  background-color: #bb00ff;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.mouse.dark {
  background-color: #580ecf;
}

.borderBox {
  border-color: rgba(0, 0, 0, 0.2);
}

html.dark .borderBox {
  border-color: rgba(255, 255, 255, 0.2);
}
